%div#control_bar
  - if current_user
    %ol
      - if current_user.inducted_at
        %li
          %strong
            = link_to current_user.name, member_path(current_user)
        %li
          = link_to 'Edit your account', edit_member_path(current_user)
      %li
        = link_to 'Logout', '/logout'
